<h1>Dashboard</h1>

<div class='container-fluid'>

    <div class='row justify-content-around'>

        <div class='col-md-3'>

            <div class='listedGroupsContainer card'>

                <a class='collapseHeading' data-toggle='collapse' href='#projectChannelsCollapse' role='button' aria-expanded='false'
                    aria-controls='projectChannelsCollapse'>Project Channels</a>
                <div class='collapse show groupListCollapse' id='projectChannelsCollapse'>
                    {{#each channels}}
                    <a class='groupBtn' href='/groups/messages/{{id}}' data-id='{{id}}' data-repoUrl='{{repoUrl}}'>{{name}}</a>
                    {{/each}}
                </div>

                <a class='collapseHeading' data-toggle='collapse' href='#groupChatsCollapse' role='button' aria-expanded='false'
                    aria-controls='groupChatsCollapse'>Group Chats</a>
                <div class='collapse show groupListCollapse' id='groupChatsCollapse'>
                    {{#each groups}}
                    <a class='groupBtn' href='#' data-id='{{id}}'>{{name}}</a>
                    {{/each}}
                </div>

                <a class='collapseHeading' data-toggle='collapse' href='#dmsCollapse' role='button' aria-expanded='false'
                    aria-controls='dmsCollapse'>Direct Messages</a>
                <div class='collapse show groupListCollapse' id='dmsCollapse'>
                    {{#each dms}}
                    <a class='groupBtn' href='#' data-id='{{id}}'>{{name}}</a>
                    {{/each}}
                </div>
            </div>

        </div>

        <div class='col-md-3'>

            <div class='messageBoardContainer card'>
                <h2>message board</h2>
            </div>

        </div>

        <div class='col-md-3'>

            <div class='messageGroupInfoContainer card'>
                <h2>group info</h2>
            </div>

        </div>

    </div>

</div>